<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <link rel="stylesheet" href="/styles/loading.css"/>

</head>
<body>
    <div class="cat">
        <div class="ear ear-l"></div>
        <div class="ear ear-r"></div>
        <div class="eye eye-l"> 
            <div class="circle"></div>
        </div>
        <div class="eye eye-r">
            <div class="circle"></div>
        </div>
        <div class="nose"></div>
        <div class="mouth"></div>
        <div class="whiskers whiskers-1">
            <div></div>
            <div></div>
            <div></div>

          
        </div>
        <div class="whiskers whiskers-2">
            <div></div>
            <div></div>
            <div></div>

          
        </div>

    </div>
    <div class="path">
        <div class="mouse"></div>
        <div class="tail"></div>
    </div>


    <script>
  const params = new URLSearchParams(window.location.search);
  const target = params.get("target");

  // Redirect after 1.5 seconds if target is valid
  if (target) {
    setTimeout(() => {
      window.location.href = target;
    }, 1500); // 1.5 seconds
  } else {
    // fallback: go home if no target provided
    setTimeout(() => {
      window.location.href = "index.html";
    }, 1500);
  }
</script>

    
</body>

</html>