<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Choose Your Pet Essentials</title>
  <link rel="stylesheet" href="/styles/petEssential.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
     <header>
        <div class="nav">
            <div class="logo-container">
                <a href='index.html'>  <img src="/images/logo.png" alt="Logo" class="logo"> </a>
            </div>
          
            <a class="text" href="index.html" >Home</a>
            <a class="text" href="adoptPage.html">Adopt</a>
            <a class="active" href="petGuide1.html">Pet Guide</a>
            <a class="text" href="donations.html">Donate</a>
            <div id="login">
                <a href="login.html">
                    <img id='loginicon' src="/images/profile.png">
                </a>
          
            </div>
        </div>
</header>

<section class="hero">
    <h1>Choose Your Pet Essential</h1>
    <p>Select your pet type below to explore hand-picked essentials. Tailored for them. ♥</p>

    <div class="card-container">
      <div class="card" >
        <a href="loading.html?target=dogEssential.html">
        <img src="/images/dog3.jpg" alt="Dog Supplies">
        <div class="overlay">
          <h2>Dog Supplies</h2>
          <button>Learn More</button></a>
        </div>
      </a>
      </div>

      <div class="card">
        <a href="loading.html?target=dogEssential.html">
        <img src="/images/cat3.jpg" alt="Cat Supplies">
        <div class="overlay">
          <h2>Cat Supplies</h2>
          <button>Learn More</button></a>
        </div>
      </a>
      </div>
      
    </div>
  </section>
  <section class="benefits">
    <div class="benefits-content">
        <img src="/images/treats-removebg-preview.png" alt="Treats" class="treats-img">
    <ul>
      <li>✅ All the basics in one place</li>
      <li>🧡 Recommended by vets and trainers</li>
      <li>🛒 Save time with curated lists</li>
    </ul>
    
</div>
  </section>

<section class="quote">
    <div class="quote-card">
      <img src="/images/cat4.jpg" alt="Cute Cat" />
      <div class="quote-text">
        <p><strong>“Because they deserve the best care, always.”</strong></p>
        <small>click here to know about your pet breed</small>
        <br><br>
        <a href="petGuide2.html"><button>Learn More</button></a>
      </div>
    </div>
  </section>

<a href="contact.html" class="contact-float" title="Contact Us">
  <i class="fas fa-phone-alt"></i>
  <span>Contact Us</span>
</a>





</body>

<footer class="footer">
    <div class="footer-top">
      <div class="footer-column">
        <a href="petGuide1.html" class="ftr"><h4>Your Guide</h4></a>
        <a href="petGuide2.html" class="ftr-bottom"><p>Information about all breeds</p></a>
        <a href="boarding.html" class="ftr-bottom"><p>Training & boarding Places</p></a>
        <a href="petEssential.html" class="ftr-bottom"><p>Pet Supplies</p></a>
      </div>
      <div class="footer-column">
        <a href="index.html" class="ftr"><h4>Home</h4></a>
        <p>News</p>
        <p>About us</p>
        <p>Events</p>
      </div>
      <div class="footer-column">
        <a href="adoptPage.html" class="ftr"><h4>Adopt</h4></a>
        <p>Quiz</p>
        <p>Dog Section</p>
        <p>Cat Section</p>
      </div>
      <div class="footer-column">
        <a href="donations.html" class="ftr"><h4>Donate</h4></a>
        <p>Payment Plans/Package</p>
        <p>Donate</p>
      </div>
      <div class="footer-logo">
        <img src="/images/favicon.ico" alt="Petco Logo" />
      </div>
    </div>
    <div class="footer-bottom">
      <div class="social-icons">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
      <div class="footer-links">
        <a href="#">Terms of Service</a> |
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </footer>
</html>